*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea, button{
    font: 400 14px "Inter", sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}