.container{
    
}

.containerCard{
    width: 306px;
    height: auto;
    left: 44px;
    top: 329px;
    margin: 15px;

    background: #E5E5E5;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}

/* .container :hover{
    transition: ease 0.2s;
    background: #CCC;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9);
} */



.containerImage{
    width: 274px;
    height: 197px;
    left: 59px;
    top: 347px;

    margin: 15px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
}

.containerDescription{
    width: 237px;

    font-family: Roboto;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
    color: #000000;
    word-wrap: break-word;
}

.containerName{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    color: #000000;
    text-align: center;
}

.containerPrice{
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
    margin-left: 15px;
    margin-top: 10px;
}

.containerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 15px;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}



.containerbuy{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}