.containerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #CCC;

    padding: 15px;
    height: 80px;
}

.containerTitle{
    font-size: 30px;
    font-weight: bold;
}

.containerMenus{
    background-color: #000;
    color: #FFF;

    padding: 20px;
}

.containerSearch{
    box-shadow:  0 0 0 0;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    outline: 0;
    margin-right: 10px;
    padding-left: 5px;
    width: 400px;
    background-color: #CCC;
}

.containerImg{
    width: 30px;
    height: 30px;
}

.containerSearchImg{
    display: flex;
    align-items: center;
}

.containerCardCall{
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
}

.containerImgCall{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.containerSpan{
    font-size: 20px;
}

.containerCardCall :hover{
    font-weight: 900;
}


.containerSearchImgMobile{
    display: none;
}

.containerSearchMobile{
    box-shadow:  0 0 0 0;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    outline: 0;
    margin-right: 10px;
    padding-left: 5px;
    width: 400px;
    background-color: #CCC;
}

.containerImgMobile{
    width: 30px;
    height: 30px;
}

@media(max-width: 1200px){
    .containerImgCall{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .containerSpan{
        font-size:  15px;
    }
    
    .containerTitle{
        font-size: 15px;
        font-weight: bold;
    }

    .containerSearch{
        box-shadow:  0 0 0 0;
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        outline: 0;
        margin-right: 10px;
        padding-left: 5px;
        width: 300px;
    }
}

@media(max-width: 900px){
    .containerSearch{
        display: none;
    }

    .containerSearchImgMobile{
        display: block;
        background-color: #CCC;
    }

    .containerImg{
        display: none;
    }

    .containerHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        background-color: #CCC;
    
        height: 120px;
    }
}