.container {
    height: auto;
}


.containerImageNameDescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerCard {
    width: auto;
    height: auto;
    left: 44px;
    top: 329px;
    margin: 15px;

    background: #E5E5E5;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;

    display: flex;
    align-items: center;
    
}

.containerInitial {
    margin-left: 200px;
}

.spanPlus{
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.spanAnyLess{
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.spanPrice {
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
}

.inputQtd {
    margin: 20px;
    border-radius: 30px;
    width: 50px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.containerNameDescription {
    display: flex;
    flex-direction: column;
}

.spanDescription {
    width: 200px;
    word-wrap: break-word;
}

.spanName {
    font-size: 40px;
    font-weight: 800;
}

.containerImage {
    width: 274px;
    height: 197px;
    left: 59px;
    top: 347px;

    margin: 15px;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
}

.containerbuy {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.containerValueQtd {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.containerPriceQtd {
    display: flex;
    align-items: center;
    justify-content: space-between;
}