.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

@media(max-width: 700px){
    .container{
        display: flex;
        justify-content: center;
    }
}