.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
}

.containerMessage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerMessage span {
    font-size: 150px;
}

@media(max-width: 1300px) {
    .containerMessage span {
        /* height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; */
        font-size: 100px;
    }
}

@media(max-width: 900px) {
    .container {
        display: flex;
        justify-content: center;
    }

    .container {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
    }

    .containerMessage span {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
}