.containerItemMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #000;
    font-weight: 300;
    cursor: pointer;

    text-transform: uppercase;
}

.containerItemMenu :hover {
    color: #999;
}

.containerImageMenu {
    display: none;
}

.itemMenu {
    display: block;
}

.containerItemMenuResponsive {
    display: none;
}

@media(max-width: 700px) {
    .containerImageMenu {
        display: block;
        cursor: pointer;
        font-size: 15px;
    }

    .containerItemMenu {
        display: none;
    }

    .containerItemMenuResponsive {
        display: block;
        padding: 10px;
        cursor: pointer;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .containerItemMenuResponsive :hover {
        font-weight: 900;
        font-size: 15px;
    }
}